<div class="container">
  <div class="header">
    <div class="title">
        <h1 class="title-text">MJORASTE</h1>
    </div>
    <div class="search">
      <input class="search-input" placeholder="Enter the product you are looking for">
        <mat-icon>search</mat-icon>
    </div>
    <div class="account-navigater-wrapper">
      <button mat-button style="color: black; background-color: #fff; margin-right: 0.5rem" class="shoppingCard-button" (click)="fromHomeToShoppingCard()">
        Shopping Cart
      </button>
      <button mat-button style="color: black; background-color: #fff" class="account-button" (click)="fromHomeToAccount()">
        Account
      </button>
    </div>
  </div>
</div>
