.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 425px) {
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 700px;
  padding: 2em;
  margin: 0;
}
@media screen and (max-width: 425px) {
  .row{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 400px;
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .row{
    margin-top: 10rem;
  }
}
mat-radio-group{
  display: flex;
  flex-direction: column;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.image-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
}
.product-info-title{
  font-size: 20px;
  font-family: serif;
}
.product-info-price{
  font-size: 17px;
  font-family: serif;
}
.product-info-description{
  font-family: serif;
  font-size: 15px;
}
button{
  border: 1px solid;
  width: 100%;
  font-family: serif;
}
